@{
    ViewData["Title"] = "Home Page";
}
<div>
    
    <div class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Smak")'">Lägg till</div>
    <div class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Smak")'">Visa alla</div>
 
</div>
