################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
[Oo]bj/
[Bb]in/
/MysigSmakbank/appsettings.Development.json
*\.vs
